* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	background: black;
}

nav {
	background: transparent;
	height: 10vh;
	width: 100%;
}

label.logo {
	color: white;
	font-size: 3rem;
	line-height: 10vh;
	padding: 0 100px;
	font-weight: : bold;
	text-shadow: 2px 2px 3px #f0b3ff
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 10vh;
	margin: 0 5px;
}

nav ul li a {
	color: #fff;
	font-size: 1rem;
	padding: 7px 13px;
	border-radius: 5px;
	text-transform: uppercase;
	text-shadow: 2px 2px 3px #f0b3ff;
	position: relative;
}

nav ul li a::before{
	content: '';
	height: 3px;
	background: #f0b3ff;
	width: 0%;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all 0.5s ease
}

nav ul li a:hover::before{
	width: 100%;
	left: 0;
}

nav ul li a.active::before{
	width: 100%;
}

.checkbtn {
	font-size: 1.9rem;
	color: white;
	float: right;
	line-height: 10vh;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

#showcase {
	height: 100vh;
	background: url(homebg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media (max-width: 952px){
	label.logo{
		font-size: 1.8rem;
		padding-left: 50px;
	}
	nav ul li a {
		font-size: 0.9rem;
	}
}

@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
	
	ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		opacity: 0.8;
		top: 10vh;
		left: -100%;
		text-align: center;
		transition: all 0.5s ease;
	}

	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
		opacity: 1;
	}

	nav ul li a {
		font-size: 1rem;
	}

	#check:checked~ul{
		left: 0;
	}
}

@media (max-width: 320px){
	label.logo{
		font-size: 1.7rem;
	}
}